<section class="section">

   <div class="container">

        <div class="row">

          <div class="col-md-10 col-md-offset-1">
            <%= link_to "<< Back to Curries", curries_admin_path %>
            <h2>NEW Curries</h2>
            <p>Create a new curries mrnu.</p>
          </div>

          <%= render "form" %>

        </div>
      </div>
</sectionn>


