<h1>OpeningHours#new</h1>
<p>Find me in app/views/opening_hours/new.html.erb</p>

<section class="section">
  <div class="container">
    <div class="row">

      <div class="col-xs-10 col-md-offset-1 form-area">
          <h3>Edit Opening Hour</h3>
            <%= render 'form' %>

    </div>
  </div>
</section>
