<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">



        <h2>Default Cover Image</h2>
        <div>
        <%= cl_image_tag @covers.cover_photo, height: 300, width: 400, crop: :fill %>
        </div>

      </div>
    </div>
  </div>
</section>

