<section class="section">

   <div class="container">

        <div class="row">

          <div class="col-md-12 long-down">
            <%= link_to "Create a new Event", new_event_path, {class: "btn-treehouse"} %>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">


            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">NON-Published Events</a></li>
              <li><a href="#tab2" data-toggle="tab">Published Events</a></li>
              <li><a href="#tab3" data-toggle="tab">Event-Archive</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content long-down">


              <!-- ******* Tab 1 Start ******* -->
              <div class="tab-pane active" id="tab1">

                 <!-- ******* Published Events ******* -->
                 <%= render "events/sections/admin_unpublished" %>
                <!-- ******* End: Published Events ******* -->

              </div>
              <!-- ******* End: Tab 1 ******* -->



               <!-- ******* Tab 2 Start ******* -->
              <div class="tab-pane" id="tab2">

                <!-- ******* Not Published Events ******* -->
                <%= render "events/sections/admin_published" %>
                <!-- ******* End: Not Published Events ******* -->

              </div>
              <!-- ******* End: Tab 2 ******* -->



               <!-- ******* Tab 3 start ******* -->
              <div class="tab-pane" id="tab3">

                <!-- ******* Archived Events ******* -->
                <%= render "events/sections/admin_archive" %>
                <!-- *******End:  Archived Events ******* -->

              </div>
               <!-- ******* End: Tab 3 ******* -->


            </div> <!-- Tab Panes  end -->







          </div>
        </div>
      </div>
</section>