<section class="section">

   <div class="container">

        <div class="row">

          <div class="col-md-12">

            <% @events.each do |event| %>

                  <hr>

                  <!-- Main content -->

                    <h3><%= event.title %></h3>
                    <h2><%=  event.subtitle %></h2>
                    <div class="row">
                      <div class="col-md-8">
                        <div><%=  truncate(simple_format(event.body), escape: false, :length => 99) %></div>

                        <br>
                      </div>
                    </div>

                  <br>
                  <i class="icon-md ion-ios-eye"></i> <%= link_to " View Event", event %>

              <% end %>


          </div>
        </div>
      </div>
</sectionn>