<section class="section">

   <div class="container">

        <div class="row">

          <div class="col-md-12">

            <h1>Show page</h1>
            <h2><%=  @event.title %></h2>
            <h3><%=  @event.subtitle %></h3>
            <p><%=  @event.body %></p>


          </div>
        </div>
      </div>
</sectionn>