.curry {
  position:absolute;
  max-width: 150px;
  top: -80px;
  text-align: left;

}


.curry-head {
  background: $red;
  text-align: center;
  color: #fff;
  font-weight: 500;
  border-radius: 5px 5px 0 0;
}
.curry-box {
  min-height: 100px;
  text-align: center;
  // border-bottom: 3px solid #ccc;
  padding: 20px 3px 20px 3px;
  font-weight: 500;
  margin: 2px 0px 20px 0px;
  border-radius: 0 0 5px 5px;
  background: $white-aplha-60;
}

.curry-bg {
   background: #F5F5F5 url(lotus.png) no-repeat center center;
   background-size: 80%;
   background-attachment: fixed;

}

.bg-red-text-white {
  background: $red-aplha-80;
  color: #fff;
  font-weight: 900;
}

@media (max-width: 768px) {
  .curry {
      position: relative;
      max-width: 200px;
      text-align: center;
      margin: auto;

    }
  }



