.curry-head {
  background: #EE5F5B;
  text-align: center;
  color: #fff;
  font-weight: 500;
}
.curry-box {
  min-height: 100px;
  text-align: center;
  border-bottom: 3px solid #ccc;
  padding: 20px 3px 20px 3px;
  font-weight: 500;
  margin: 0px 0px 5px 0px;
}

.curry-bg {
   background: url(lotus.png) no-repeat center center;
   background-size: contain;
}

.bg-red-text-white {
  background: #EE5F5B;
  color: #fff;
}



