#opening-hours {
 padding: 40px 0px 60px 0px;
 margin: 20px 0px 20px 0px;
}

.lunch-special {
  background: $red;
  padding: 16px 10px 16px 10px;
  margin: 10px 0px 20px 0px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.lunch-special p,
.lunch-special h1,
.lunch-special h2,
.lunch-special h3,
.lunch-special h4 {
  color: #fff;
}

.form-area,
.form-area-gray {
  padding: 40px 40px 60px 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px #ddd;

}

.form-area-gray {
  background: #F5F5F5;
}

.hours-bg {
 border-radius: 3px;
 background: $bg-shade-medium;
}






