<div class="col-md-4">
            <div class="infobox wow ">
              <h3></i><%= @cover.title %> </h3>
              <h3><%= @cover.subtitle %></h3>
              <h2><%= @cover.subtitle2 %></h2>
              <!-- Info Button -->
              <h3> <a href="#events" class="btn  btn-custom-3 callout-btn"><i class="fa fa-info-circle icon-before"></i> Info</a>
              </h3>

            </div>
          </div>