



 <section id="events" class="section">

      <div class="container">


        <div class="row">

          <div class="col-md-12 headline wow ">
            <h2>Events</h2>
            <p>Upcoming concerts and other live acts</p>
          </div>

         <div class='dsm-fb-event' embed-id='2134'></div><script src='https://www.displaysocialmedia.com/app/embed/facebook-events/widget.js'></script>



        </div><!-- .row -->

      </div><!-- .container -->

    </section>