    <section id="opening-hours" class="section line-bottom line-top opening-hours">

      <div class="container">

        <div class="row">
          <div class="col-md-8 col-md-offset-2 centered">
            <h4><i class="fa fa-clock-o"></i> Our opening hours</h4>
          </div>
        </div>
          <div class="row">
            <div class="col-md-7th  centered">
              <p>Mon: 11:00 - 24:00 </p>
            </div>
            <div class="col-md-7th  centered">
              <p>Tues: 11:00 - 24:00 </p>
            </div>
            <div class="col-md-7th  centered ">
              <p>Wed: 11:00 - 24:00 </p>
            </div>
            <div class="col-md-7th  centered ">
              <p>Thur: 11:00 - 14:00 </p>
            </div>
            <div class="col-md-7th  centered ">
              <p>Fri: 11:00 - 01:00 </p>
            </div>
            <div class="col-md-7th  centered ">
              <p>Sat: 10:00 - 01:00 </p>
            </div>
            <div class="col-md-7th  centered ">
              <p>Sun: 11:00 - 24:00 </p>
            </div>
          </div>

        </div>

    </section>
