 <section class=" parallax02">

      <div class="container ">

        <div class="row">



          <div class="col-md-6 col-md-offset-3  ">
            <h1><i class="fa  fa-calendar-o" aria-hidden="true"></i></h1>
            <h3><p>Konrad Events: concerts, comedy, quizzes and more in the heart of old town.</p>

          </div>

        </div><!-- .row -->

      </div><!-- .container -->

    </section>