
    <!-- Photo Gallery section start -->

    <section id="portfolio" class="section">

      <div class="container">

        <div class="row">

          <div class="col-md-12 headline wow">
            <h2>Image Gallery</h2>
            <p>Lorem Ipsum.</p>
          </div>




           <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">2015</a></li>
              <li><a href="#tab2" data-toggle="tab">2014</a></li>
              <li><a href="#tab3" data-toggle="tab">2013</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content long-down">


              <!-- Tab 1 content begins -->
              <div class="tab-pane active" id="tab1">



          <div class="col-md-4 col-sm-6 wow">
            <a href="assets/images/p1.jpg" class="pop-up" title="Caption 1">
              <div class="portfolio-item">
                <div class="portfolio-item-preview">
                  <img src="assets/images/p1.jpg" alt="">
                </div>
                <div class="portfolio-item-description">
                  <h3>Some work</h3>
                  <p>Category</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-4 col-sm-6 wow">
            <a href="https://vimeo.com/45830194" class="video-pop-up" title="Caption 2">
              <div class="portfolio-item">
                <div class="portfolio-item-preview">
                  <img src="assets/images/p2.jpg" alt="">
                </div>
                <div class="portfolio-item-description">
                  <h3>Some work</h3>
                  <p>Category</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-4 col-sm-6 wow">
            <a href="assets/images/p3.jpg" class="pop-up" title="Caption 3">
              <div class="portfolio-item">
                <div class="portfolio-item-preview">
                  <img src="assets/images/p3.jpg" alt="">
                </div>
                <div class="portfolio-item-description">
                  <h3>Some work</h3>
                  <p>Category</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-4 col-sm-6 wow" data-wow-delay=".2s">
            <a href="assets/images/p5.jpg" class="pop-up" title="Caption 4">
              <div class="portfolio-item">
                <div class="portfolio-item-preview">
                  <img src="assets/images/p5.jpg" alt="">
                </div>
                <div class="portfolio-item-description">
                  <h3>Some work</h3>
                  <p>Category</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-4 col-sm-6 wow" data-wow-delay=".4s">
            <a href="assets/images/p8.jpg" class="pop-up" title="Caption 5">
              <div class="portfolio-item">
                <div class="portfolio-item-preview">
                  <img src="assets/images/p8.jpg" alt="">
                </div>
                <div class="portfolio-item-description">
                  <h3>Some work</h3>
                  <p>Category</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-4 col-sm-6 wow" data-wow-delay=".6s">
            <a href="assets/images/p6.jpg" class="pop-up" title="Caption 6">
              <div class="portfolio-item">
                <div class="portfolio-item-preview">
                  <img src="assets/images/p6.jpg" alt="">
                </div>
                <div class="portfolio-item-description">
                  <h3>Some work</h3>
                  <p>Category</p>
                </div>
              </div>
            </a>
          </div>

          </div>

               <!-- Tab 2 content begins -->
              <div class="tab-pane" id="tab2">Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</div>

               <!-- Tab 3 content begins -->
              <div class="tab-pane" id="tab3">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</div>
            </div> <!-- Tab section end -->



        </div><!-- .row -->

      </div><!-- .container -->

    </section>

    <!-- Photo Gallery section end -->