<section class="section">

   <div class="container">

        <div class="row">

          <div class="col-md-12">

            <h1>Eat & Drink: Edit</h1>
            <p>This is a new events page</p>

            <%= render 'form' %>

          </div>
        </div>
      </div>
</sectionn>
